
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="Display-1">All movies</h1>
        </div>
    </div>

    <div class="row">
		<div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item" *ngFor="let movie of movies">
                	<div class="row">
                	  <div class="col-md-3"><a [routerLink]="['/movieInfo', movie.movieId]" class="thumbnail"><img src={{movie.image}} alt={{movie.title}} style="max-width:100%;"></a></div>
                	</div><!--.row-->
                </div><!--.item-->                 
		</div>
	</div>
</div><!--.container-->