<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            
        </div>
        <div class='card'>
            <h1>{{movieDetails.title}}</h1>
            <div>
             
              <table>
                <tr>
                  <td>
                    <img src={{movieDetails.image}} width="300px" height="400px">
                    <div class="star-widget">
                      <form action="#">
                        <select name="score" [(ngModel)]="score" class="form-control" name="score">
                          <option value="1">1 Star</option>
                          <option value="2">2 Stars</option>
                          <option value="3">3 Stars</option>
                          <option value="4">4 Stars</option>
                          <option value="5">5 Stars</option>
                        </select>
                        <header></header>
                        <div class="textarea">
                          <textarea cols="30" placeholder="How was it?" [(ngModel)]="review" class="form-control" name="review"></textarea> 
                        <div class="btn">
                          <button (click)="rate()" name="submit">Post Review</button>
                        </div>
                        </div>
                      </form>
                    </div>
                  </td>
                  <td>
                  <div class='card_right__details'>
                    <ul>
                      <li>{{movieDetails.year}}</li>
                      <li>{{movieDetails.runTime}}</li>
                      <li>{{movieDetails.genere}}</li>
                    </ul>
                    
                    <div class='card_right__review'>
                      <p>{{movieDetails.outline}}</p>
                    </div>
                  </div>
                </td>
                </tr>
              </table>
              
              
              
            </div>
          </div>
          
        
    </div>
</div>